.background-image{
    background-image: url("../../../assets/img/about/banner.jpg");
    width: 99%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    h4{
        color: white;
        font-weight: bold;
        text-decoration: underline;
    }
}

.shadow-custom{
    box-shadow:0 0 15px #00000021;
}

#content{
    border-radius: 10px;
    box-shadow: inset 0 0 10px #00000021;
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
}
.box-shadow-custom{
    padding: 10px;
    margin: 0 auto;
    box-shadow: inset 0 0 10px #00000021;
    border-radius: 12px;
}